*{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing:border-box ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
  background:#DDD;
/* background: linear-gradient(to bottom, #d2d1d1 0%, #545454 100%); */
    color:#333;
}